<app-header titulo="Page RIPPLE-EFFECT"></app-header>

<!--<ion-header>
  <ion-toolbar>
    <ion-title>ripple-effect</ion-title>
  </ion-toolbar>
</ion-header>-->

<ion-content (click)="onClick()" class="ion-padding">

  <div class="wrapper">
    <b>Click on a shape to see the ripple</b>
  
    <div class="ion-activatable ripple-parent custom-parent">
      Custom Parent Color
      <ion-ripple-effect></ion-ripple-effect>
    </div>
  
    <div class="ion-activatable ripple-parent">
      Custom Ripple Color
      <ion-ripple-effect class="custom-ripple"></ion-ripple-effect>
    </div>
  </div>

</ion-content>
