<app-header titulo="Page ICONS"></app-header>

<!--<ion-header>
  <ion-toolbar>
    <ion-title>icons</ion-title>
  </ion-toolbar>
</ion-header>-->

<ion-content (click)="onClick()" class="ion-padding">  
      <!-- Agrega el enlace al archivo CSS del conjunto de iconos que desees utilizar -->
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" />

  
      <!-- Agrega un icono utilizando la etiqueta <i> y la clase correspondiente -->
      <i class="fas fa-heart"></i><br>
      <i class="fas fa-heart"></i><br>
      <i class="fas fa-heart"></i><br>
      <i class="fas fa-heart"></i><br>
      <i class="fas fa-heart"></i><br>
      <i class="fas fa-heart"></i><br>
      <i class="fas fa-heart"></i><br>
      <i class="fas fa-heart"></i><br>
      <i class="fas fa-heart"></i><br>
      <i class="fas fa-heart"></i><br>
      <i class="fas fa-heart"></i><br>
      <i class="fas fa-heart"></i><br>
      <i class="fas fa-heart"></i><br>
      <i class="fas fa-heart"></i><br>
      <i class="fas fa-heart"></i><br>
</ion-content>
